In [27]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '1'

import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.activations import linear, relu, sigmoid

In [39]:
load_data = pd.read_csv("final_training_label_zero.csv")

In [40]:
load_data

,category,countLength,countUpper,countLower,countNumerical,countSpace,countDashBrackPlus,countDashSlash,countVowels,countConsonants,isLuhn,countCountry,countEmail
0,1,23.0,3.0,18.0,0.0,2.0,0.0,0.0,6.0,15.0,0,0.0,0.0
1,1,13.0,2.0,10.0,0.0,1.0,0.0,0.0,5.0,7.0,0,0.0,0.0
2,1,12.0,2.0,9.0,0.0,1.0,0.0,0.0,5.0,6.0,0,0.0,0.0
3,1,19.0,3.0,14.0,0.0,2.0,0.0,0.0,6.0,11.0,0,0.0,0.0
4,1,10.0,2.0,7.0,0.0,1.0,0.0,0.0,3.0,6.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93213,0,6.0,0.0,6.0,0.0,0.0,0.0,0.0,2.0,4.0,0,0.0,0.0
93214,0,8.0,0.0,8.0,0.0,0.0,0.0,0.0,5.0,3.0,0,0.0,0.0
93215,0,12.0,0.0,12.0,0.0,0.0,0.0,0.0,5.0,7.0,0,0.0,0.0
93216,0,7.0,0.0,7.0,0.0,0.0,0.0,0.0,2.0,5.0,0,0.0,0.0
93217,0,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0

In [41]:
def get_dataset_partitions_pd(df, train_split=0.6, val_split=0.2, test_split=0.2):
    assert (train_split + test_split + val_split) == 1
    
    # Only allows for equal validation and test splits
    assert val_split == test_split 

    # Specify seed to always have the same split distribution between runs
    df_sample = df.sample(frac=1, random_state=12)
    indices_or_sections = [int(train_split * len(df)), int((1 - val_split - test_split) * len(df))]
    
    train_ds, val_ds, test_ds = np.split(df_sample, indices_or_sections)
    
    return train_ds, val_ds, test_ds


train_x, cv_data, test_data = get_dataset_partitions_pd(load_data)

In [42]:
train_x

,category,countLength,countUpper,countLower,countNumerical,countSpace,countDashBrackPlus,countDashSlash,countVowels,countConsonants,isLuhn,countCountry,countEmail
23348,6,7.0,3.0,0.0,3.0,1.0,0.0,0.0,0.0,3.0,0,0.0,0.0
76527,0,11.0,0.0,11.0,0.0,0.0,0.0,0.0,4.0,7.0,0,0.0,0.0
91250,0,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0
16497,4,38.0,4.0,25.0,5.0,4.0,0.0,0.0,10.0,19.0,0,0.0,0.0
14063,3,9.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50514,0,7.0,0.0,7.0,0.0,0.0,0.0,0.0,2.0,5.0,0,0.0,0.0
62857,0,15.0,0.0,15.0,0.0,0.0,0.0,0.0,6.0,9.0,0,0.0,0.0
35313,0,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0
62343,0,6.0,0.0,6.0,0.0,0.0,0.0,0.0,2.0,4.0,0,0.0,0.0
32697,10,10.0,0.0,0.0,8.0,0.0,2.0,2.0,0.0,0.0,0,0.0,0.0

In [43]:
test_data

,category,countLength,countUpper,countLower,countNumerical,countSpace,countDashBrackPlus,countDashSlash,countVowels,countConsonants,isLuhn,countCountry,countEmail
43772,0,9.0,0.0,9.0,0.0,0.0,0.0,0.0,5.0,4.0,0,0.0,0.0
39587,0,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0
55043,0,10.0,0.0,10.0,0.0,0.0,0.0,0.0,3.0,7.0,0,0.0,0.0
55042,0,12.0,0.0,12.0,0.0,0.0,0.0,0.0,4.0,8.0,0,0.0,0.0
34917,0,11.0,0.0,11.0,0.0,0.0,0.0,0.0,4.0,7.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75011,0,13.0,0.0,13.0,0.0,0.0,0.0,0.0,5.0,8.0,0,0.0,0.0
36482,0,10.0,0.0,10.0,0.0,0.0,0.0,0.0,4.0,6.0,0,0.0,0.0
40177,0,11.0,0.0,11.0,0.0,0.0,0.0,0.0,5.0,6.0,0,0.0,0.0
19709,5,10.0,5.0,0.0,3.0,2.0,0.0,0.0,1.0,4.0,0,0.0,0.0
79691,0,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0

In [44]:
X = train_x.loc[:, train_x.columns != 'category']
y = train_x.loc[:, train_x.columns == 'category']

In [45]:
X

,countLength,countUpper,countLower,countNumerical,countSpace,countDashBrackPlus,countDashSlash,countVowels,countConsonants,isLuhn,countCountry,countEmail
23348,7.0,3.0,0.0,3.0,1.0,0.0,0.0,0.0,3.0,0,0.0,0.0
76527,11.0,0.0,11.0,0.0,0.0,0.0,0.0,4.0,7.0,0,0.0,0.0
91250,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0
16497,38.0,4.0,25.0,5.0,4.0,0.0,0.0,10.0,19.0,0,0.0,0.0
14063,9.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
50514,7.0,0.0,7.0,0.0,0.0,0.0,0.0,2.0,5.0,0,0.0,0.0
62857,15.0,0.0,15.0,0.0,0.0,0.0,0.0,6.0,9.0,0,0.0,0.0
35313,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0
62343,6.0,0.0,6.0,0.0,0.0,0.0,0.0,2.0,4.0,0,0.0,0.0
32697,10.0,0.0,0.0,8.0,0.0,2.0,2.0,0.0,0.0,0,0.0,0.0

In [46]:
y

       category
23348         6
76527         0
91250         0
16497         4
14063         3
...         ...
50514         0
62857         0
35313         0
62343         0
32697        10

[55930 rows x 1 columns]

In [47]:
print ('The shape of X is: ' + str(X.shape))
print ('The shape of y is: ' + str(y.shape))

The shape of X is: (55930, 12)
The shape of y is: (55930, 1)

In [128]:
tf.random.set_seed(1234) # for consistent results
model = Sequential(
    [
        tf.keras.Input(shape=(12,)),
        Dense(15, activation='relu'),
        Dense(11, activation='linear'),
    ], name = "my_model" 
)

In [129]:
model.compile(
    loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
)

history = model.fit(
    X,y,
    epochs=20
)

Epoch 1/20
1748/1748 [==============================] - 1s 547us/step - loss: 0.3713
Epoch 2/20
1748/1748 [==============================] - 1s 502us/step - loss: 0.0944
Epoch 3/20
1748/1748 [==============================] - 1s 506us/step - loss: 0.0654
Epoch 4/20
1748/1748 [==============================] - 1s 524us/step - loss: 0.0512
Epoch 5/20
1748/1748 [==============================] - 1s 521us/step - loss: 0.0419
Epoch 6/20
1748/1748 [==============================] - 1s 544us/step - loss: 0.0357
Epoch 7/20
1748/1748 [==============================] - 1s 524us/step - loss: 0.0317
Epoch 8/20
1748/1748 [==============================] - 1s 505us/step - loss: 0.0289
Epoch 9/20
1748/1748 [==============================] - 1s 546us/step - loss: 0.0272
Epoch 10/20
1748/1748 [==============================] - 1s 550us/step - loss: 0.0259
Epoch 11/20
1748/1748 [==============================] - 1s 526us/step - loss: 0.0251
Epoch 12/20
1748/1748 [==============================] - 1s 509us/step - loss: 0.0246
Epoch 13/20
1748/1748 [==============================] - 1s 514us/step - loss: 0.0241
Epoch 14/20
1748/1748 [==============================] - 1s 505us/step - loss: 0.0233
Epoch 15/20
1748/1748 [==============================] - 1s 505us/step - loss: 0.0231
Epoch 16/20
1748/1748 [==============================] - 1s 511us/step - loss: 0.0229
Epoch 17/20
1748/1748 [==============================] - 1s 504us/step - loss: 0.0226
Epoch 18/20
1748/1748 [==============================] - 1s 506us/step - loss: 0.0222
Epoch 19/20
1748/1748 [==============================] - 1s 511us/step - loss: 0.0222
Epoch 20/20
1748/1748 [==============================] - 1s 512us/step - loss: 0.0219

In [130]:
X_test = test_data.loc[:, test_data.columns != 'category']
y_test = test_data.loc[:, test_data.columns == 'category']

In [131]:
X_test

,countLength,countUpper,countLower,countNumerical,countSpace,countDashBrackPlus,countDashSlash,countVowels,countConsonants,isLuhn,countCountry,countEmail
43772,9.0,0.0,9.0,0.0,0.0,0.0,0.0,5.0,4.0,0,0.0,0.0
39587,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0
55043,10.0,0.0,10.0,0.0,0.0,0.0,0.0,3.0,7.0,0,0.0,0.0
55042,12.0,0.0,12.0,0.0,0.0,0.0,0.0,4.0,8.0,0,0.0,0.0
34917,11.0,0.0,11.0,0.0,0.0,0.0,0.0,4.0,7.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
75011,13.0,0.0,13.0,0.0,0.0,0.0,0.0,5.0,8.0,0,0.0,0.0
36482,10.0,0.0,10.0,0.0,0.0,0.0,0.0,4.0,6.0,0,0.0,0.0
40177,11.0,0.0,11.0,0.0,0.0,0.0,0.0,5.0,6.0,0,0.0,0.0
19709,10.0,5.0,0.0,3.0,2.0,0.0,0.0,1.0,4.0,0,0.0,0.0
79691,9.0,0.0,9.0,0.0,0.0,0.0,0.0,4.0,5.0,0,0.0,0.0

In [145]:
y_test

       category
43772         0
39587         0
55043         0
55042         0
34917         0
...         ...
75011         0
36482         0
40177         0
19709         5
79691         0

[37288 rows x 1 columns]

In [163]:
prediction = model.predict(X_test)

1166/1166 [==============================] - 1s 629us/step

In [164]:
prediction[-1]

array([  26.143238 ,    7.890516 ,  -67.267334 , -116.54182  ,
          3.046148 , -109.48149  ,  -40.79405  ,    3.5452852,
       -192.43195  ,  -77.06681  ,  -57.856438 ], dtype=float32)

In [165]:
prediction_p = tf.nn.softmax(prediction)
prediction_p[-1]

<tf.Tensor: shape=(11,), dtype=float32, numpy=
array([1.0000000e+00, 1.1828880e-08, 0.0000000e+00, 0.0000000e+00,
       9.3123946e-11, 0.0000000e+00, 8.5017018e-30, 1.5340283e-10,
       0.0000000e+00, 0.0000000e+00, 3.3067601e-37], dtype=float32)>

In [166]:
print(f"Total of predictions: {np.sum(prediction_p):0.3f}")

Total of predictions: 37288.000

In [167]:
yhat = np.argmax(prediction_p[-1])

In [168]:
yhat

0

In [169]:
y_test

       category
43772         0
39587         0
55043         0
55042         0
34917         0
...         ...
75011         0
36482         0
40177         0
19709         5
79691         0

[37288 rows x 1 columns]

In [170]:
predicted_vs_actual = pd.DataFrame()
yhat = []
for i in prediction_p:
    yhat.append(np.argmax(i))

predicted_vs_actual["Actual"] = y_test["category"]
predicted_vs_actual["Predicted"] = yhat

In [171]:
predicted_vs_actual.to_csv("predicted_vs_actual_pii.csv")

In [202]:
df = pd.DataFrame({"features_1":["gdfg"]})
df_final = pd.DataFrame()
df_final["countLength"] = df["features_1"].str.len()
df_final["countUpper"] = df["features_1"].str.findall(r'[A-Z]').str.len()
df_final["countLower"] = df["features_1"].str.findall(r'[a-z]').str.len()
df_final["countNumerical"] = df["features_1"].str.findall(r'\d').str.len()
df_final["countSpace"] = df["features_1"].str.findall(r' ').str.len()
df_final["countDashBrackPlus"] = df["features_1"].str.findall(r'-|\(|\)|\+|\+1').str.len()
df_final["countDashSlash"] = df["features_1"].str.findall(r'[-/]').str.len()
df_final["countVowels"] = df["features_1"].str.findall(r'[aeiouAEIOU]').str.len()
df_final["countConsonants"] = df["features_1"].str.findall(r'[bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ]').str.len()

def luhn_checksum(card_number):
    def digits_of(n):
        return [int(d) for d in str(n)]
    digits = digits_of(card_number)
    odd_digits = digits[-1::-2]
    even_digits = digits[-2::-2]
    checksum = 0
    checksum += sum(odd_digits)
    for d in even_digits:
        checksum += sum(digits_of(d*2))
    return checksum % 10

def is_luhn_valid(card_number):
    try:
        if luhn_checksum(card_number) == 0:
            return 1
        else:
            return 0
    except:
        return 0
df_final["isLuhn"] = df["features_1"].apply(is_luhn_valid)
df_final["countCountry"] = df["features_1"].str.findall(r'^(?:\+1|1)').str.len()
df_final["countEmail"] = df["features_1"].str.findall(r'[@\.]').str.len()
prediction = model.predict(df_final)
prediction_p = tf.nn.softmax(prediction)
yhat = np.argmax(prediction_p[0])

if yhat==0:
    print('Non PII')
elif yhat==1:
    print('PII - Name')
elif yhat==2:
    print('PII - Phone')
elif yhat==3:
    print('PII - SIN')
elif yhat==4:
    print('PII - Address')
elif yhat==5:
    print('PII - Province')
elif yhat==6:
    print('PII - Postal')
elif yhat==7:
    print('PII - Email')
elif yhat==8:
    print('PII - Policy/Claim ID')
elif yhat==9:
    print('PII - Vin')
else
    print('PII - DOB')

1/1 [==============================] - 0s 29ms/step

0